.post {
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.post.dark {
  background-color: #444;
  color: #f4f4f4;
}

.post h3 {
  color: #007bff;
}

.post.dark h3 {
  color: #ccc;
}
