.header {
  background-color: #007bff;
  color: white;
  padding: 20px;
  justify-content: space-between;
  display: flex;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.header.dark {
  background-color: #333;
}

.header h1 {
  font-size: 2.5rem;
  margin: 0 0 0;
}

.header button {
  margin-top: 10px;
  background-color: #fff;
  color: #007bff;
}

.header.dark button {
  background-color: #444;
  color: #f4f4f4;
}
